.wasabee-markers {

  .action-button {
    cursor: pointer;
    border-radius: 50% !important;
    background: url(../images/smurf-head.png) center center no-repeat;
    box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
    background-size: 42px 42px;
    width: 42px !important;
    height: 42px !important;

    &:hover {
      box-shadow: inset 1px 1px 2px 0 #0f0, 1px 1px 4px 0 #000;
      background-position: -1px -1px;
    }

    &:active {
      box-shadow: inset 1px 1px 2px 0 #000, 1px 1px 4px 0 #0f0;
      background-position: 1px 1px;
    }

    &.working {
      cursor: auto;
      animation: wasabeeMarkersSearching 0.9s infinite linear;
    }

    @keyframes wasabeeMarkersSearching {
      0% {
        transform: rotate(0deg) scale(1.2);
      }
      25% {
        transform: rotate(90deg) scale(0.7);
      }
      50% {
        transform: rotate(180deg) scale(1.1);
      }
      75% {
        transform: rotate(270deg) scale(0.8);
      }
      100% {
        transform: rotate(359deg)
      }
    }
  }

  .progress-bar {
    bottom: -5px;
    height: 10px;
    width: 100%;
    background-color: white;
    position: absolute;

    .progress {
      height: 100%;
      background-color: red;
    }
  }
}
