.wm-dialog-wm-config-condition {
  .form .labeled-array-factions {
    display: flex;
    flex-wrap: wrap;
  }

  .form-history, .form-slots {
    .boolean-checkbox > *:last-child {
      float: right;
    }
  }

  .form-history .boolean-checkbox {
    label {
      padding-top: 2px;
    }
    & > *:last-child {
      width: 50%;
    }
  }

  .form-slots .boolean-checkbox {
    label {
      padding-top: 4px;
    }

    & > *:last-child {
      width: 5ch;
    }
  }
}
