.wm-dialog-wm-config-condition {
  .form .labeled-array-factions {
    display: flex;
    flex-wrap: wrap;
  }

  .form-history, .form-slots {
    .boolean-checkbox .extra-fields {
      float: right;
    }
  }

  .form-history .boolean-checkbox {
    label {
      padding-top: 2px;
    }
    .extra-fields {
      width: 50%;
      select {
        width: 100%;
      }
    }
  }

  .form-slots .boolean-checkbox {
    label {
      padding-top: 4px;
    }

    .extra-fields {
      input {
        width: 5ch;
        margin-left: 5px;
      }
    }
  }
}
