.wm-dialog-wm-config {
  .form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

  & > .ui-dialog-buttonpane > .ui-dialog-buttonset > button:first-child {
    float: left;
  }
}

