.wm-dialog {
  .form {
    display: grid;
    grid-template-columns: 50% 50%;

    & > label {
      white-space: nowrap;
    }

    & > * {
      margin: 5px;
    }
  }

  .ui-dialog-buttonset > button {
    margin-left: 2px;
  }
}
