.wm-dialog-wm-config-progress {
  .form {
    grid-template-columns: auto max-content !important;

    div[data-value="preparing"]::before {
      content: "🟠";
    }

    div[data-value="running"]::before {
      content: "🟢";
    }

    div[data-value="done"]::before {
      content: "🔴";
    }
  }

  .progress-bar {
    width: 100%;
    border: 1px solid #ffce00;

    & > * {
      display: inline-block;
      text-align: center;
      height: 1rem;
    }

    .ok, .detailsLoaded {
      background: green;
    }

    .errors {
      background: red;
    }

    .detailsCached {
     background: yellow;
    }
  }
}
