.wm-dialog-wm-config-progress {
  .form {
    & > label {
      text-align: right;
    }

    div.status {
      &[data-value="preparing"]::before {
        content: "🟠";
      }

      &[data-value="running"]::before {
        content: "🟢";
      }

      &[data-value="done"]::before {
        content: "🔴";
      }
    }
  }

  .progress-bar {
    .ok, .detailsLoaded {
      background: green;
    }

    .errors {
      background: red;
    }

    .detailsCached {
      background: yellow;
    }
  }
}
