.wm-dialog {
  .container .ui-dialog-buttonpane {
    border-top: none;
    margin-top: 10px;
    padding: 0;
  }

  button {
    margin-left: 2px;

    &.ui-button-disabled {
      border-color: #444;
      text-decoration: none !important;
    }
  }
}
